<p-table [value]="sponsors">
  <ng-template pTemplate="header">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Image</th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-sponsor>
    <tr>
        <td>{{ sponsor.id }}</td>
        <td>{{ sponsor.name }}</td>
        <td><img [src]="'http://localhost:5021' + sponsor.logoUrl"></td>
    </tr>
</ng-template>
</p-table>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <input formControlName="name" placeholder="nom" pInputText >
  </div>
  <div>
    <label>Logo</label>
    <p-fileUpload (onSelect)="select($event)"></p-fileUpload>
  </div>
  <div>
    <button [disabled]="form.invalid" type="submit" pButton>Envoyer</button>
  </div>
</form>